<form method="POST" action="/new">
  <h2>Post a Message</h2>
  <input type="text" name="user" id="" placeholder="name" />
  <input type="text" name="text" id="" placeholder="message" />
  <button type="submit">SUBMIT</button>
</form>
